body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 69px;
    position: relative;
}

.teaTypes img {
    height: 200px;
    width: 300px;
}

#topNav {
    position: fixed;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    z-index: 2;
    top: 0px;
    left: 0px;
}

#topNavLeft {
    background-image: url(../assets/img-tea-cozy-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
}

#topNavRight {
    display: inline-flex;
    align-items: flex-end;
    padding-right: 20px;
}

#topNavRight li{
    list-style-type: none;
    padding-left: 40px;
    text-decoration: underline;
}

#ourMission {
    background-image: url(../assets/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#ourMissionBand {
    background-color: black;
    width: 100%;
    text-align: center;
}

#teaOfTheMonth {
    width: 1000px;
}

#teaOfTheMonthTop {
    text-align: center;
}

#teaOfTheMonthBottom {
    display: flex;
    width: 1000px;
}

.teaTypes {
    padding: 0 10px;
}

#locationsContainer {
    height:500px;
    width: 100%;
    justify-content: space-around;
    background-image: url('../assets/img-locations-background.jpg');
    background-size: cover;
    background-position: center;
}

#locationsContainer h1 {
    width: 500px;
}

.locations {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 20px;
    padding: 10px;
    text-align: center;
    line-height: 2.0em;
}

#footer {
    text-align: center;
    height: 200px;
}

#copyright {
    position: relative;
    top: 80px;
    display: flex;
    width: 100%;
    padding: 0 0 0 20px;
}